/* Images */
.tituloimg {
    width: 30px;
    height: 30px;
}

.principalimg {
    width: 200px;
    height: 200px;
}

.rrssimg {
    width: 50px;
    height: 50px;
}

div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    flex-wrap: nowrap;
}

/* NAV */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav label {
    padding: 0;
    margin: 0;
    display: inline-block;
    background-color: #333;
    margin: 0 10px;
}

nav label a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}

nav label a:hover {
    background-color: #555;
}